{
  "openapi": "3.0.0",
  "info": {
    "title": "Hologram REST API v1",
    "description": "The Hologram HTTP API is a REST-style interface for managing Hologram  devices, accounts, and cloud data.\n\nUsing the Hologram REST API, you can activate  SIMs, get your devices approximate location, send SMS to your devices, update  a device\u0027s usage limit, and much more.\n\n## Authentication\n\nHologram supports  **HTTP Basic authentication** using API keys. Simply set the username of the  request to \u0060apikey\u0060. The password field is the API key itself.\n\nYou can find  your API key on the Hologram Dashboard under [Account Settings](https://dashboard.hologram.io/settings/api).\n \nYour API key gives you access to your personal account, as well as any organizations  you are a member of. Make sure you don\u0027t store your API key in a publicly accessible  place like GitHub. If you are a member of multiple organizations, many endpoints  accept an \u0060orgid\u0060 argument to filter for devices or other objects within a specific  organization.\n\nYou can find your \u0060orgid\u0060 by following [this guide from our  Help Center](https://support.hologram.io/hc/en-us/articles/360035421234-What-is-my-organization-ID-orgid).\n \n### Header Example\n\n\u0060\u0060\u0060\ncurl --verbose GET \\\n\u0027https://dashboard.hologram.io/api/1/users/me\u0027  \\\n-u apikey:YOUR_API_KEY\n\u0060\u0060\u0060\n\nYou can also base64 encode \u0022apikey:YOUR_API_KEY\u0022  and include it directly in the header.\n\n\u0060\u0060\u0060\ncurl --verbose GET \\\n\u0027https://dashboard.hologram.io/api/1/users/me\u0027  \\\n--header \u0022Authorization: Basic BASE64(apikey:YOUR_API_KEY)\u0022\n\u0060\u0060\u0060\n\n##  Requests\n\nRequest bodies can be provided in either JSON or form-urlencoded  formats. Please note that the examples in this documentation will only display  JSON bodies.\n\n### **JSON body**\n\n\u0060\u0060\u0060\ncurl --verbose --request POST \\\n --header \u0022Content-Type: application/json\u0022 \\\n--header \u0022Authorization: Basic  BASE64(apikey:YOUR_API_KEY)\u0022 \\\n--data \u0027{\u0022deviceid\u0022: 56668, \u0022body\u0022: \u0022 Hello device!\u0022}\u0027 \\\n\u0027https://dashboard.hologram.io/api/1/sms/incoming\u0027\n\u0060\u0060\u0060\n \n### **form-urlencoded body**\n\n\u0060\u0060\u0060\ncurl --verbose --request POST \\\n--header  \u0022Content-Type: application/x-form-urlencoded\u0022 \\\n--header \u0022Authorization:  Basic BASE64(apikey:YOUR_API_KEY)\u0022 \\\n--data \u0027deviceid=56668\u0026body=Hello%20device!\u0027  \\\n\u0027https://dashboard.hologram.io/api/1/sms/incoming\u0027\n\u0060\u0060\u0060\n\n## Responses\n \nAll API responses are returned as JSON objects with the following fields:\n\n * \u0060success\u0060 (boolean) - Indicates whether the request was successful.\n* \u0060data\u0060  (object or array) - Contains the requested data or information about the operation  that was performed. Only present when \u0060success\u0060 is true.\n* \u0060error\u0060 (string)  - Information about why the request failed. Only present when \u0060success\u0060 is false.\n \nMost GET responses will also include the following fields if a limit is included  as part of the query string:\n\n* \u0060limit\u0060 (number) - The query limit, some have  this value built in and others often have a maximum value that the limit can  be\n* \u0060size\u0060 (number) - The number of values returned by the query\n* \u0060continues\u0060  (boolean, optional) - This is only returned if there are more values than were  returned\n* \u0060links\u0060 (array) - Contains information related to the query performed\n   * \u0060path\u0060 (string) - The API endpoint path\n  * \u0060base\u0060 (string) - API base URL\n   * \u0060next\u0060 (string) - URL with query string to get the next results\n\nNote that  all dates and times are returned in UTC.\n\n## Rate Limiting\n\nIn order to  provide a good quality of service to all of our customers, we enforce a rate  limit on all API requests.\n\nIf you exceed the rate limit you will receive  a HTTP 429 response with a JSON response body like this:\n\n\u0060\u0060\u0060\n{\n  \u0022success\u0022 :false,\n  \u0022error\u0022:\u0022API rate limit exceeded\u0022\n}\n\u0060\u0060\u0060\n\nIf you receive this  response, you should refrain from making requests for 5-10 seconds and then  retry the request.\n\nHologram\u0027s REST API provides methods to perform many requests  in bulk. For example, you can change the data plans of multiple SIMs at once  using https://dashboard.hologram.io/api/1/links/cellular/changeplan.\n\nIf there  is request you would like to make in bulk but cannot, please reach out to [support@hologram.io](mailto:support@hologram.io)  for assistance.",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://dashboard.hologram.io/api/1",
      "description": "Hologram REST API v1"
    }
  ],
  "paths": {
    "/asyncchangerequests": {
      "get": {
        "tags": [
          "Async Change Requests"
        ],
        "summary": "List async change requests",
        "description": "Returns a paginated list of async change requests. Async change requests represent background operations such as plan changes and SIM configuration updates that are processed asynchronously.",
        "operationId": "listAsyncChangeRequests",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated list of request IDs to fetch",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent_id",
            "in": "query",
            "description": "Filter by parent request ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orgid",
            "in": "query",
            "description": "Filter by organization ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "userid",
            "in": "query",
            "description": "Filter by user ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "request_type",
            "in": "query",
            "description": "Filter by request type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "plan_change",
                "euicc_audit",
                "sim_configuration_update",
                "sim_state_pause",
                "sim_state_unpause",
                "sim_state_activation"
              ]
            }
          },
          {
            "name": "reference_type",
            "in": "query",
            "description": "Filter by the type of object being changed",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "device",
                "link",
                "simcard",
                "sim_configuration"
              ]
            }
          },
          {
            "name": "reference_id",
            "in": "query",
            "description": "Filter by the ID of the object being changed",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "deviceids",
            "in": "query",
            "description": "Comma-separated list of device IDs; returns async records referencing those devices (reference_type=device) or their cellular links (reference_type=link). Resolves link IDs via CellularLinks before querying. Can be combined with other filters (e.g. orgid, states, reference_type); all filters are ANDed together.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "states[]",
            "in": "query",
            "description": "Filter by one or more states (repeat parameter for multiple values)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "initialized",
                  "in_progress",
                  "complete",
                  "complete_with_errors",
                  "partially_complete",
                  "error",
                  "canceled",
                  "complete_after_cancel"
                ]
              }
            }
          },
          {
            "name": "start_after",
            "in": "query",
            "description": "Return requests started after this time (Unix timestamp or datetime string)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_before",
            "in": "query",
            "description": "Return requests started before this time (Unix timestamp or datetime string)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startafter",
            "in": "query",
            "description": "Return results with ID less than this value (cursor-based pagination, ordered by ID descending)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (default 25, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "example": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAsyncChangeRequestsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter value"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "List async change requests"
          },
          "href": "/api/1/asyncchangerequests/get"
        }
      }
    },
    "/asyncchangerequests/{requestId}": {
      "get": {
        "tags": [
          "Async Change Requests"
        ],
        "summary": "Get a single async change request by ID",
        "description": "Returns the full detail for a single async change request, including its child request IDs and decoded metadata.",
        "operationId": "getAsyncChangeRequest",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "Async change request ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncChangeRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid organization or unable to access"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Request not found"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Get a single async change request by ID"
          },
          "href": "/api/1/asyncchangerequests/requestId/get"
        }
      }
    },
    "/organizations/{orgId}/statements": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List billing statements for an organization",
        "description": "Get billing statement records that match the passed in parameters",
        "operationId": "listBillingStatements",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by statement ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "report_start_date",
            "in": "query",
            "description": "Filter by billing period start date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "startafter",
            "in": "query",
            "description": "Return results with ID less than this value (cursor-based pagination, ordered by ID descending)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (default 60)",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 60
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBillingStatementsResponse"
                }
              }
            }
          },
          "400": {
            "description": "No permission to access billing on this organization"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Billing",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "List billing statements for an organization"
          },
          "href": "/api/1/organizations/orgId/statements/get"
        }
      }
    },
    "/organizations/{orgId}/statements/{statementId}/csv": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Download a billing statement as a CSV file",
        "description": "Get a billing statement stream from DB (regenerated CSV)",
        "operationId": "getBillingStatementCsv",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "statementId",
            "in": "path",
            "description": "Billing statement ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file download",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "No billing permission or statement not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Billing",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Download a billing statement as a CSV file"
          },
          "href": "/api/1/organizations/orgId/statements/statementId/csv/get"
        }
      }
    },
    "/csr/data": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List cloud messages",
        "description": "Returns a paginated list of cloud messages",
        "operationId": "listCsrData",
        "parameters": [
          {
            "name": "deviceid",
            "in": "query",
            "description": "Filter by device ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "deviceids",
            "in": "query",
            "description": "Comma-separated list of device IDs to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestart",
            "in": "query",
            "description": "Filter messages logged after this timestamp (Unix epoch)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timeend",
            "in": "query",
            "description": "Filter messages logged before this timestamp (Unix epoch)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "topicname",
            "in": "query",
            "description": "Filter by a single topic name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "topicnames",
            "in": "query",
            "description": "Filter by multiple topic names (comma-separated)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startafter",
            "in": "query",
            "description": "Return results after the record with this ID (cursor-based pagination)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CSRDataMessageListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "503": {
            "description": "Endpoint temporarily disabled"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Cloud messaging",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "List cloud messages"
          },
          "href": "/api/1/csr/data/get"
        }
      }
    },
    "/csr/data/{recordId}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Single cloud message",
        "description": "Alias of GET /data/messages/{recordId}.",
        "operationId": "getCsrDataEntry",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "description": "Record ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CSRDataMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid record ID"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Cloud messaging",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Single cloud message"
          },
          "href": "/api/1/csr/data/recordId/get"
        }
      }
    },
    "/csr/tags": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get matching cloud messaging topics/tags",
        "description": "Returns a paginated list of tags used on device data messages",
        "operationId": "listCsrTags",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startafter",
            "in": "query",
            "description": "Return results after this cursor value",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "$ref": "#/components/schemas/SuccessProperty"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "continues": {
                      "type": "boolean"
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Cloud messaging",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Get matching cloud messaging topics/tags"
          },
          "href": "/api/1/csr/tags/get"
        }
      }
    },
    "/links/cellular/bulkclaim": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Activate devices (bulk)",
        "description": "Activate SIMs by ICCID range, individual ICCID list, or EID range. Maximum of 2,500 SIMs per request. Once a SIM is activated, you can begin passing data. \u0060plan\u0060 and \u0060zone\u0060 are required for all live activations.",
        "operationId": "bulkClaimCellularLinks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sims": {
                    "description": "List of SIM ICCIDs to activate. Exactly one of sims, simrange, or eidrange is required.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "simrange": {
                    "description": "Inclusive ICCID range to activate, formatted as {first}-{last}. Exactly one of sims, simrange, or eidrange is required.",
                    "type": "string",
                    "example": "89330123456789012345-89330123456789012365"
                  },
                  "eidrange": {
                    "description": "Inclusive EID range to activate, formatted as {first}-{last}. Exactly one of sims, simrange, or eidrange is required.",
                    "type": "string"
                  },
                  "plan": {
                    "description": "Data plan ID to assign to each activated SIM. Required for live activations.",
                    "type": "integer"
                  },
                  "zone": {
                    "description": "Availability zone for the plan. Required for live activations.",
                    "type": "string",
                    "example": "global"
                  },
                  "overage_limit": {
                    "description": "Data overage limit in bytes. -1 for unlimited.",
                    "type": "integer"
                  },
                  "smslimit": {
                    "description": "SMS limit. -1 for unlimited.",
                    "type": "number"
                  },
                  "threshold": {
                    "description": "Data alert threshold in bytes. An alert is triggered when usage exceeds this value.",
                    "type": "number"
                  },
                  "tagid": {
                    "description": "Tag ID to apply to every activated device.",
                    "type": "integer"
                  },
                  "invalidatePreflightSims": {
                    "description": "When true, SIMs currently in preflight (test mode) are treated as new live activations rather than test-to-live transitions. Preflight plan and zone are replaced with the values provided in this request.",
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkClaimCellularLinksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request \u2014 missing or invalid sims/simrange/eidrange, plan/zone required for live activation, or SIM limit exceeded"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Bulk actions",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Activate devices (bulk)"
          },
          "href": "/api/1/links/cellular/bulkclaim/post"
        }
      }
    },
    "/links/cellular/updatelocation": {
      "post": {
        "tags": [
          "Cellular Links"
        ],
        "summary": "Update SIM location via carrier backend",
        "description": "Triggers a location update for the matching SIMs via the carrier backend. Requires access to the specified links. Not supported by all carriers.",
        "operationId": "updateSimLocation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "linkids"
                ],
                "properties": {
                  "linkids": {
                    "description": "List of cellular link IDs to update (max 10 per request; super admins may submit up to 1000)",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "maxItems": 10,
                    "minItems": 1
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request \u2014 possible errors: \u0022Specify at least one filter for selecting SIMs to update\u0022 (no linkids), \u0022No links selected\u0022 (none found), \u0022Must select no more than 10 links\u0022 (batch too large for non-super-admins; limit is 1000 for super admins), \u0022There were invalid links\u0022 (inaccessible IDs), \u0022Some links are not able to update location due to carrier limitations\u0022 (carrier capability)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "description": "Simple error \u2014 missing params, no links found, or too many links",
                      "required": [
                        "success",
                        "error"
                      ],
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": false
                        },
                        "error": {
                          "type": "string",
                          "example": "No links selected"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "description": "Per-link error \u2014 inaccessible link IDs or unsupported carrier; data maps each affected link ID to its error message",
                      "required": [
                        "success",
                        "error",
                        "data"
                      ],
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": false
                        },
                        "error": {
                          "type": "string",
                          "example": "There were invalid links"
                        },
                        "data": {
                          "description": "Map of link ID to error message",
                          "type": "object",
                          "example": {
                            "99": "Invalid Link"
                          },
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests \u2014 rate limit exceeded for location updates"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Update SIM location via carrier backend"
          },
          "href": "/api/1/links/cellular/updatelocation/post"
        }
      }
    },
    "/devices/batch/state": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get bulk state change job status",
        "description": "Get the status of all current bulk state change jobs. State changes can take time to process for large numbers of devices. If the org does not have a plan that supports seeing activity history, this endpoint will return a 403.",
        "operationId": "getDeviceBatchStateJobs",
        "parameters": [
          {
            "name": "orgid",
            "in": "query",
            "description": "Filter results to this organization ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "properties": {
                        "tasks": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "job_id": {
                                "type": "integer"
                              },
                              "requester_org_name": {
                                "type": "string"
                              },
                              "requester_first_name": {
                                "type": "string"
                              },
                              "requester_last_name": {
                                "type": "string"
                              },
                              "timestamp_start": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "timestamp_end": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "device_count": {
                                "type": "integer"
                              },
                              "action": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "source": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "startAfterIds": {
                          "type": "array",
                          "items": []
                        },
                        "totalPages": {
                          "type": "integer"
                        },
                        "totalTasks": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Organization plan does not support activity history"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Get bulk state change job status"
          },
          "href": "/api/1/devices/batch/state/get"
        }
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Batch change device state",
        "description": "Create a batch job to change the state of a large set of devices. Accepts device IDs directly or a bulk filter criteria. Returns a list of tasks for the batch runner.",
        "operationId": "createDeviceChangeStateTasks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "state"
                ],
                "properties": {
                  "state": {
                    "description": "New state: pause, live, or deactivate",
                    "type": "string"
                  },
                  "deviceids": {
                    "description": "List of device IDs to update",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "deviceFilters": {
                    "description": "Bulk selection filter criteria (alternative to deviceids)",
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Bulk actions",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Batch change device state"
          },
          "href": "/api/1/devices/batch/state/post"
        }
      }
    },
    "/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List devices",
        "description": "Retrieve a list of devices with their detailed information including profile information (cellular links), session data, and metadata. The devices are returned sorted by creation date, with the most recent devices appearing first. Use the \u0060limit\u0060 and \u0060startafter\u0060 parameters together for cursor-based pagination through large device lists.",
        "operationId": "getDevices",
        "parameters": [
          {
            "name": "orgid",
            "in": "query",
            "description": "Filter results to this organization ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 5000)",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 5000,
              "example": 50
            }
          },
          {
            "name": "startafter",
            "in": "query",
            "description": "Return results after the record with this ID (cursor-based pagination)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "slim",
            "in": "query",
            "description": "When set to 1, return a compact response with fewer fields",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "withlocation",
            "in": "query",
            "description": "When true, include last known location data in each device record (default: true)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "states",
            "in": "query",
            "description": "Comma-separated list of device states to filter by (e.g. LIVE,PAUSED-USER,CONNECTED)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated list of device IDs to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagid",
            "in": "query",
            "description": "Filter results to devices with this tag ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tagids",
            "in": "query",
            "description": "Comma-separated list of tag IDs to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagname",
            "in": "query",
            "description": "Filter results to devices with this tag name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter results to devices matching this exact name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imei",
            "in": "query",
            "description": "Filter results to devices with this IMEI",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkid",
            "in": "query",
            "description": "Filter results to devices with this cellular link ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "linkids",
            "in": "query",
            "description": "Comma-separated list of cellular link IDs to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planid",
            "in": "query",
            "description": "Filter results to devices subscribed to this data plan ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "iccid",
            "in": "query",
            "description": "Filter results to devices with this ICCID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iccids",
            "in": "query",
            "description": "Comma-separated list of ICCIDs to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sim",
            "in": "query",
            "description": "Alias for iccid \u2014 filter results to devices with this ICCID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sims",
            "in": "query",
            "description": "Alias for iccids \u2014 comma-separated list of ICCIDs to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imsi",
            "in": "query",
            "description": "Filter results to devices with this IMSI on their cellular link",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "msisdn",
            "in": "query",
            "description": "Filter results to devices with this MSISDN on their cellular link",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "simcardid",
            "in": "query",
            "description": "Filter results to devices with this SIM card ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "eid",
            "in": "query",
            "description": "Filter results to devices with this EID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eids",
            "in": "query",
            "description": "Comma-separated list of EIDs to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eidrange",
            "in": "query",
            "description": "Filter by EID range in \u0022start-end\u0022 format",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showHidden",
            "in": "query",
            "description": "When true, include hidden devices in results",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Filter results to devices with this phone number",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tunnelable",
            "in": "query",
            "description": "Filter results to devices with this tunnelable flag value",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDevicesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "List devices"
          },
          "href": "/api/1/devices/get"
        }
      }
    },
    "/devices/pages": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List devices (paginated)",
        "description": "Retrieve pagination information for devices retrieved from \u0060/devices\u0060 for organizations with many devices. This endpoint will return empty data if there are fewer devices than the limit specified.",
        "operationId": "getDevicePages",
        "parameters": [
          {
            "name": "orgid",
            "in": "query",
            "description": "Filter results to this organization ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 5000)",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 5000,
              "example": 5000
            }
          },
          {
            "name": "states",
            "in": "query",
            "description": "Comma-separated list of network states to filter by.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "LIVE,LIVE-PENDING,PAUSED-USER,PAUSED-SYS,PAUSED-PENDING-USER,PAUSED-PENDING-SYS,INACTIVE,TEST-ACTIVATE,TEST-ACTIVATE-PENDING,DEAD,DEAD-PENDING"
          },
          {
            "name": "deviceids",
            "in": "query",
            "description": "Comma-separated list of device IDs to include",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagid",
            "in": "query",
            "description": "Filter results to devices with this tag ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tagids",
            "in": "query",
            "description": "Comma-separated list of tag IDs to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkids",
            "in": "query",
            "description": "Comma-separated list of cellular link IDs to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sims",
            "in": "query",
            "description": "Comma-separated list of SIM identifiers to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "simrange",
            "in": "query",
            "description": "SIM range to filter by, formatted as start-end",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "devicesPerPage",
            "in": "query",
            "description": "Number of devices per page; used to compute page boundary IDs. Defaults to limit minus 1 if not provided.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "showHidden",
            "in": "query",
            "description": "When true, include hidden devices in results",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "$ref": "#/components/schemas/SuccessProperty"
                    },
                    "limit": {
                      "description": "Maximum number of results requested",
                      "type": "integer"
                    },
                    "size": {
                      "description": "Number of page boundaries returned",
                      "type": "integer"
                    },
                    "continues": {
                      "description": "Whether more results exist beyond this page",
                      "type": "boolean"
                    },
                    "data": {
                      "description": "Page boundary device IDs. Pass each startAfterId as the startafter parameter to GET /devices to fetch that page.",
                      "type": "array",
                      "items": {
                        "properties": {
                          "startAfterId": {
                            "description": "Device ID marking the start of a page boundary",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "List devices (paginated)"
          },
          "href": "/api/1/devices/pages/get"
        }
      }
    },
    "/devices/count": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get device count",
        "description": "Returns the total number of devices for the organization.",
        "operationId": "getDeviceCount",
        "parameters": [
          {
            "name": "orgid",
            "in": "query",
            "description": "Filter results to this organization ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tagid",
            "in": "query",
            "description": "Single tag ID to filter by.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 101
          },
          {
            "name": "tagids",
            "in": "query",
            "description": "Comma-separated list of tag IDs.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 101102103
          },
          {
            "name": "linkids",
            "in": "query",
            "description": "Comma-separated list of link (profile) IDs.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 53897205608542
          },
          {
            "name": "states",
            "in": "query",
            "description": "Comma-separated list of network states.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "LIVE,LIVE-PENDING,PAUSED-USER,PAUSED-SYS,PAUSED-PENDING-USER,PAUSED-PENDING-SYS,INACTIVE,TEST-ACTIVATE,TEST-ACTIVATE-PENDING,DEAD,DEAD-PENDING"
          },
          {
            "name": "sims",
            "in": "query",
            "description": "Comma-separated list of profile ICCIDs.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 8.913130000123457e+39
          },
          {
            "name": "simrange",
            "in": "query",
            "description": "Range of profile ICCIDs separated by a hyphen.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "89131300001234567890-89131300001234568000"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "$ref": "#/components/schemas/SuccessProperty"
                    },
                    "data": {
                      "description": "Total number of devices in the organization",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Get device count"
          },
          "href": "/api/1/devices/count/get"
        }
      }
    },
    "/devices/activecount": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get past active device count",
        "description": "Returns the count of devices that were active at a given point in time.",
        "operationId": "getPastActiveDeviceCount",
        "parameters": [
          {
            "name": "orgid",
            "in": "query",
            "description": "Filter results to this organization ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Unix timestamp at which to evaluate the active device count",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "$ref": "#/components/schemas/SuccessProperty"
                    },
                    "data": {
                      "description": "Number of active devices at the requested point in time",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request \u2014 invalid timestamp"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Get past active device count"
          },
          "href": "/api/1/devices/activecount/get"
        }
      }
    },
    "/devices/{deviceId}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get device by ID",
        "description": "Retrieves the details of an existing device. Specify the unique device identifier (device ID) in the request URL, which you can find on the Dashboard.",
        "operationId": "getDevice",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "ID of the device",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDeviceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Get device by ID"
          },
          "href": "/api/1/devices/deviceId/get"
        }
      },
      "put": {
        "tags": [
          "Devices"
        ],
        "summary": "Rename or transfer a device",
        "description": "Updates the specified device by setting the values of the parameters passed. Any parameters not provided will be left unchanged. You can change the device\u0027s name displayed on the Dashboard. You can also transfer ownership of the device to a different organization.",
        "operationId": "updateDevice",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "ID of the device",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "New device name",
                    "type": "string"
                  },
                  "orgid": {
                    "description": "Transfer device to this organization",
                    "type": "integer"
                  },
                  "tunnelable": {
                    "description": "Enable or disable SpaceBridge tunneling for the device",
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDeviceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Rename or transfer a device"
          },
          "href": "/api/1/devices/deviceId/put"
        }
      }
    },
    "/devices/state": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Change device state (bulk)",
        "description": "Change the state of multiple devices at once. Supported state values are \u0060pause\u0060, \u0060live\u0060, and \u0060deactivate\u0060. Pausing the device will prevent your device from passing any data on all SIM profiles. Paused devices still incur Monthly Recurring Charges. Deactivating permanently removes SIM cards from service and is supported from any non-deactivated state, including preflight/test mode states (TEST-ACTIVATE, TEST-HIBERNATE, TEST-AUTOACTIVATE, and their -PENDING variants).",
        "operationId": "changeDeviceStateBulk",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "deviceids",
                  "state"
                ],
                "properties": {
                  "deviceids": {
                    "description": "List of device IDs to update",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "state": {
                    "description": "The new state for all SIM cards on the devices. Valid values are \u0060pause\u0060, \u0060live\u0060, or \u0060deactivate\u0060. Deactivation is supported from any non-deactivated state, including preflight/test mode states (TEST-ACTIVATE, TEST-HIBERNATE, TEST-AUTOACTIVATE, and their -PENDING variants).",
                    "type": "string",
                    "enum": [
                      "pause",
                      "live",
                      "deactivate"
                    ],
                    "example": "pause"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Bulk actions",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Change device state (bulk)"
          },
          "href": "/api/1/devices/state/post"
        }
      }
    },
    "/devices/{deviceId}/state": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Change device state",
        "description": "Change the state of a device\u0027s SIM card. Supported state values are \u0060pause\u0060, \u0060live\u0060, and \u0060deactivate\u0060.\n\nPausing the device will prevent your device from passing any data on all SIM profiles. Paused devices still incur Monthly Recurring Charges.\n\nDeactivating permanently removes the SIM card from service. Deactivation is supported from any non-deactivated state, including preflight/test mode states (TEST-ACTIVATE, TEST-HIBERNATE, TEST-AUTOACTIVATE, and their -PENDING variants).",
        "operationId": "changeDeviceStateSingle",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "ID of the device",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "state"
                ],
                "properties": {
                  "state": {
                    "description": "New state to set. Valid values are \u0060pause\u0060, \u0060live\u0060, or \u0060deactivate\u0060.",
                    "type": "string",
                    "enum": [
                      "pause",
                      "live",
                      "deactivate"
                    ],
                    "example": "pause"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Change device state"
          },
          "href": "/api/1/devices/deviceId/state/post"
        }
      }
    },
    "/devices/transfer": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Transfer devices to organization (bulk)",
        "description": "Transfer devices to a different organization. Maximum of 3000 devices per request. All devices must belong to the same source organization.",
        "operationId": "transferDevicesToOrganization",
        "parameters": [
          {
            "name": "preview",
            "in": "query",
            "description": "If true, simulate the operation without making changes",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "deviceids",
                  "orgid"
                ],
                "properties": {
                  "deviceids": {
                    "description": "List of device IDs to transfer",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "orgid": {
                    "description": "ID of the destination organization",
                    "type": "integer",
                    "example": 4
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDevicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Bulk actions",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Transfer devices to organization (bulk)"
          },
          "href": "/api/1/devices/transfer/post"
        }
      }
    },
    "/devices/usagelimit": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Update data usage limits for devices (bulk)",
        "description": "Updates the data usage limit, SMS limit, and data usage alert threshold for one or more SIMs. Values must be \u003E= -1 where -1 means no limit.",
        "operationId": "changeDeviceUsageLimitBulk",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "deviceids"
                ],
                "properties": {
                  "deviceids": {
                    "description": "List of device IDs to update usage limits for",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "datathreshold": {
                    "description": "Data usage alert threshold in bytes; triggers a notification when exceeded",
                    "type": "number",
                    "example": 1000000
                  },
                  "overagelimit": {
                    "description": "Hard data usage cap in bytes; device is paused when this limit is reached",
                    "type": "number",
                    "example": 2000000
                  },
                  "smslimit": {
                    "description": "Maximum number of SMS messages allowed per billing period",
                    "type": "number",
                    "example": 100
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "$ref": "#/components/schemas/SuccessProperty"
                    },
                    "data": {
                      "properties": {
                        "warnings": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "devices_modified": {
                          "description": "IDs of devices whose usage limit was updated",
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "profiles_modified": {
                          "description": "IDs of SIM profiles whose usage limit was updated",
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "newdatathreshold": {
                          "description": "Updated data alert threshold in bytes",
                          "type": "number"
                        },
                        "newoveragelimit": {
                          "description": "Updated data usage limit in bytes",
                          "type": "number"
                        },
                        "newsmslimit": {
                          "description": "Updated SMS limit",
                          "type": "number"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Bulk actions",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Update data usage limits for devices (bulk)"
          },
          "href": "/api/1/devices/usagelimit/post"
        }
      }
    },
    "/devices/{deviceId}/usagelimit": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Update data usage limit for device",
        "description": "Updates the data usage limit, SMS limit, and data usage alert threshold for a SIM. Values must be \u003E= -1 where -1 means no limit.",
        "operationId": "changeDeviceUsageLimitSingle",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "ID of the device",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "datathreshold": {
                    "description": "Data usage alert threshold in bytes; triggers a notification when exceeded",
                    "type": "number",
                    "example": 1000000
                  },
                  "overagelimit": {
                    "description": "Hard data usage cap in bytes; device is paused when this limit is reached",
                    "type": "number",
                    "example": 2000000
                  },
                  "smslimit": {
                    "description": "Maximum number of SMS messages allowed per billing period",
                    "type": "number",
                    "example": 100
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "$ref": "#/components/schemas/SuccessProperty"
                    },
                    "data": {
                      "properties": {
                        "warnings": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "devices_modified": {
                          "description": "IDs of devices whose usage limit was updated",
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "profiles_modified": {
                          "description": "IDs of SIM profiles whose usage limit was updated",
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "newdatathreshold": {
                          "description": "Updated data alert threshold in bytes",
                          "type": "number"
                        },
                        "newoveragelimit": {
                          "description": "Updated data usage limit in bytes",
                          "type": "number"
                        },
                        "newsmslimit": {
                          "description": "Updated SMS limit",
                          "type": "number"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Update data usage limit for device"
          },
          "href": "/api/1/devices/deviceId/usagelimit/post"
        }
      }
    },
    "/devices/changeplan": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Change data plan for devices (bulk)",
        "description": "Change the data plan for the given devices. Warning: Changing data plans will remove any set data limits.",
        "operationId": "changeDevicePlanBulk",
        "parameters": [
          {
            "name": "preview",
            "in": "query",
            "description": "If true, simulate the operation without making changes",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "deviceids",
                  "planid",
                  "zone",
                  "orgid"
                ],
                "properties": {
                  "deviceids": {
                    "description": "List of device IDs to change plans for",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "planid": {
                    "description": "ID of the data plan to assign",
                    "type": "integer",
                    "example": 4
                  },
                  "zone": {
                    "description": "Geographic zone for the plan",
                    "type": "string",
                    "example": "global"
                  },
                  "orgid": {
                    "description": "Organization ID of the devices to change plans for",
                    "type": "integer",
                    "example": 45
                  },
                  "overage_limit": {
                    "description": "Data overage limit in bytes. -1 for unlimited.",
                    "type": "integer"
                  },
                  "useacctbalance": {
                    "description": "Apply account balance credit to this order",
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Bulk actions",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Change data plan for devices (bulk)"
          },
          "href": "/api/1/devices/changeplan/post"
        }
      }
    },
    "/devices/{deviceId}/changeplan": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Change data plan for device",
        "description": "Change the data plan for the given device. Warning: Changing data plans will remove any set data limits.",
        "operationId": "changeDevicePlanSingle",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "ID of the device",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "preview",
            "in": "query",
            "description": "If true, simulate the operation without making changes",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "planid",
                  "zone",
                  "orgid"
                ],
                "properties": {
                  "planid": {
                    "description": "ID of the data plan to assign",
                    "type": "integer",
                    "example": 4
                  },
                  "zone": {
                    "description": "Geographic zone for the plan",
                    "type": "string",
                    "example": "global"
                  },
                  "orgid": {
                    "description": "Organization ID of the devices to change plans for",
                    "type": "integer",
                    "example": 45
                  },
                  "overage_limit": {
                    "description": "Data overage limit in bytes. -1 for unlimited.",
                    "type": "integer"
                  },
                  "useacctbalance": {
                    "description": "Apply account balance credit to this order",
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Change data plan for device"
          },
          "href": "/api/1/devices/deviceId/changeplan/post"
        }
      }
    },
    "/devices/names": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get device names",
        "description": "Retrieve a mapping of device IDs to device names for devices in the organization. Returns a paginated list with device IDs as keys and device names as values.",
        "operationId": "getDeviceNames",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 2000)",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000,
              "example": 2000
            }
          },
          {
            "name": "startafter",
            "in": "query",
            "description": "Return results after the record with this ID (cursor-based pagination)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDeviceNamesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Get device names"
          },
          "href": "/api/1/devices/names/get"
        }
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Update device names (bulk)",
        "description": "Bulk update device name prefixes. Each device is renamed to \u0060{prefix} ({last 5 ICCID digits})\u0060 unless \u0060skipPostfix\u0060 is true. Devices are selected via \u0060deviceids\u0060, bulk-selection filters, or a combination of both. Requires the \u0060bulk_rename\u0060 feature flag on the organization.",
        "operationId": "updateDeviceNames",
        "parameters": [
          {
            "name": "preview",
            "in": "query",
            "description": "When true, return a sample of devices that would be renamed without making changes",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "prefix"
                ],
                "properties": {
                  "prefix": {
                    "description": "String prepended to every renamed device. The last 5 digits of the active ICCID are appended in parentheses unless skipPostfix is true.",
                    "type": "string"
                  },
                  "skipPostfix": {
                    "description": "When true, set each device name to the prefix exactly, with no ICCID suffix appended.",
                    "type": "boolean"
                  },
                  "deviceids": {
                    "description": "Explicit list of device IDs to rename.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "allSelected": {
                    "description": "When true, select all devices in the organization (subject to excludedDeviceIds).",
                    "type": "boolean"
                  },
                  "useSearch": {
                    "description": "When true, resolve the device selection from the search index using deviceFilters instead of the database.",
                    "type": "boolean"
                  },
                  "deviceFilters": {
                    "description": "Filter criteria used to select devices when allSelected is true or useSearch is true.",
                    "properties": {
                      "limit": {
                        "description": "Maximum number of devices per page.",
                        "type": "integer"
                      },
                      "pageIdsSelected": {
                        "description": "Cursor IDs (startafter values) that identify which pages of the device list to include.",
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "pagesSelected": {
                        "description": "Page numbers selected.",
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "states": {
                        "description": "Filter devices by state (e.g. LIVE, PAUSED-USER).",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "hitsPerPage": {
                        "description": "Number of results per page used to compute page boundaries.",
                        "type": "integer"
                      },
                      "orgid": {
                        "description": "Organization ID.",
                        "type": "integer"
                      },
                      "query": {
                        "description": "Search query string (used when useSearch is true).",
                        "type": "string"
                      },
                      "sort": {
                        "description": "Sort field and direction (used when useSearch is true). Example: {\u0022links_cur_billing_data_used\u0022: \u0022ASC\u0022}",
                        "type": "object"
                      },
                      "filters": {
                        "description": "Additional search filter criteria (used when useSearch is true).",
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "excludedDeviceIds": {
                    "description": "Device IDs to exclude from the bulk selection.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "linkids": {
                    "description": "Cellular link IDs to include in the selection.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "pagesSelected": {
                    "description": "Top-level page numbers selected; presence triggers bulk device selection.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleSuccessResponse"
                }
              }
            }
          },
          "403": {
            "description": "Organization does not have the bulk_rename feature flag enabled"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Bulk actions",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Update device names (bulk)"
          },
          "href": "/api/1/devices/names/post"
        }
      }
    },
    "/devices/locations": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get device locations",
        "description": "Retrieve location information for devices that have reported location data. Returns a paginated list of devices with their most recent location including latitude, longitude, and accuracy range.",
        "operationId": "getDeviceLocations",
        "parameters": [
          {
            "name": "orgid",
            "in": "query",
            "description": "Filter results to this organization ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 5000)",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 5000,
              "example": 50
            }
          },
          {
            "name": "startafter",
            "in": "query",
            "description": "Return results after the record with this ID (cursor-based pagination)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated list of device IDs to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDeviceLocationsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Get device locations"
          },
          "href": "/api/1/devices/locations/get"
        }
      }
    },
    "/devices/tags": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List all tags",
        "description": "Get all tags. If you specify an org, this will only return the tags for the org.",
        "operationId": "getDeviceTags",
        "parameters": [
          {
            "name": "orgid",
            "in": "query",
            "description": "Filter results to this organization ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "deviceids",
            "in": "query",
            "description": "Comma-separated list of device IDs to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDeviceTagsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Tags",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "List all tags"
          },
          "href": "/api/1/devices/tags/get"
        }
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Create a tag",
        "description": "Creates a new device tag in the caller\u0027s current organization. Devices can optionally be linked to the tag at creation time.",
        "operationId": "addDeviceTag",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "description": "Name for the new tag",
                    "type": "string"
                  },
                  "deviceids": {
                    "description": "Device IDs to link to the new tag",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDeviceTagsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Tags",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Create a tag"
          },
          "href": "/api/1/devices/tags/post"
        }
      }
    },
    "/devices/tags/{tagId}/updatetagname": {
      "put": {
        "tags": [
          "Devices"
        ],
        "summary": "Rename a tag",
        "description": "Update a tag name for the given tag",
        "operationId": "updateDeviceTagName",
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "description": "ID of the device tag",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "description": "New name for the tag",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDeviceTagsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Tag name cannot be empty or exceeds 32 characters"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Tags",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Rename a tag"
          },
          "href": "/api/1/devices/tags/tagId/updatetagname/put"
        }
      }
    },
    "/devices/tags/{tagId}/link": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Add tag to devices",
        "description": "Add a tag to specified devices.",
        "operationId": "linkDeviceTag",
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "description": "ID of the device tag",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "deviceids": {
                    "description": "Device IDs to add the tag to. Optional \u2014 omitting or passing an empty array is a no-op.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDeviceTagsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Tag ID is not valid for organization"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "x-nav-group": "Tags",
        "x-mint": {
          "metadata": {
            "sidebarTitle": "Add tag to devices"
          },
          "href": "/api/1/devices/tags/tagId/link/post"
        }
      }
    },
    "/devices/tags/{tagId}/unlink": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Remove tag from devices",
        "description": "Removes a tag from specified devices. Returns the tag with its remaining linked devices.",
        "operationId": "unlinkDeviceTag",
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "description": "ID of the device tag",
[...]
